/*@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap');*/
body{
    font-family: 'Edu NSW ACT Foundation', cursive;
    background: rgb(168,218,220);
}
.App{
    background-color: rgb(228, 236, 225);
    min-height: 450px;
    width: 380px;
    margin: 20px auto;
    position: relative; /*extra*/
    box-shadow: 0 0 8px;
    border-radius: 20px;
    margin-bottom: 10px auto;
}
#todoform input{
    background-color: rgb(250, 250, 250);
    border: 0;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 25px;
    border-radius: 10px;
    color: black;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 500;
}
#todoform input::placeholder{
    color: rgba(255, 255, 255, 0);
}
#todoform input:focus{
    outline: none;
}
#todoform button{
    height: 50px;
    width: 80px;
    border-radius: 10px;
    background-color: #ff8381;
    cursor: pointer;
    font-weight: 500px;
    color: white;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 700;
    border-color: white;
}
#todoform button:hover{
    background-color: #f97876;
    border-color: white;
    color: rgb(245, 245, 245);
}

.heading{
    color: rgb(250, 250, 250);
    margin: 20px auto;
    font-size: 30px;
}